nav{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 73, 73);
    width: 100%;
    margin: auto;
    height: 15px;
    padding: 15px;
}

.nav-item{
    display: flex;
    margin: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    position: relative;
    bottom: 22px;
    
    
}

nav .nav-item a{
    color: white;
    text-decoration: none;

    
}

nav .nav-item a:hover{
    color: rgb(159, 3, 3);
}
